body {
	background-color:#e0c977;
	font-size:14px;
	font-variant:small-caps;
	font-family:Lucida Sans;
	font-weight:500;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:700px;
	}

a:hover {
	text-decoration: underline;
	}	

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	}
ul {
	list-style-type:none;
	}

h1 {
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	}
h2 {
	font-size: 25px;
	}

a img {
	border: 0px;
	}

div {
	text-align: left;
	background-color: white;
	border: 1px solid black;
	}

.izbornik {
	float: left;
	width: 130px;
	height: 100px;
	padding: 10px 10px;
	font-size: 16px;
	}

.naslov {	
	width: 520px;
	height: 100px;
	padding: 10px 10px;
	margin-left: 160px;
	}

.naslov img {
	float: left;
	margin-right: 15px;
	}

.element {
	text-align: center;
	width: 680px;
	padding: 10px 10px;
	margin-top: 5px;
	}

.element img {
	border: 1px solid black;
	}

.element a img {
	border: 0;
	}

.gumbici {
	margin-left: -45px;
	}

.gumbici li {
	display: inline;
	font-family: arial;
	font-weight: bolder;
	font-size: 16px;	
	}

.gumbici a {
	margin: 5px;
	padding: 3px 40px;
	background-color: #800000;
	border: 1px solid black;
	color: #e0e0e0;
	text-decoration: none;
	}
.gumbici a:hover {
	background-color: #e0e0e0;
	color: #800000;
	}
